{%extends "components/web/main.html"%} {%block title%} 隔岸观鱼 | 小游戏 {%endblock%} {%block title_in%} 隔岸观鱼 | 小游戏 {%endblock%}
{%block body%}
<iframe style="width: 100vw; height: calc(100vh - 56px);margin-left:-10px" id="iframe" style="background-color: transparent;" allowTransparency="true"></iframe>
<script>
    function resetGame(){
        document.getElementById('iframe').src = embed;
    }
    var embed = getarg('embed');
    resetGame();
</script>
<span>操作</span>
<a href="javascript:resetGame()" class="btn">重置</a>
<a href="javascript:window.history.back()" class="btn">退出</a>
{%endblock%}
