{%extends "parts/main.html"%}

{%block title%}
棕亭霁雪 | 自制网页
{%endblock%}

{%block title_in%}
棕亭霁雪 | 自制网页
{%endblock%}

{%block body%}

<button class="btn btn-primary m-1" onclick="window.open('sandbox.html', '_blank')">预览</button>
<button class="btn btn-primary m-1" onclick="download()">保存</button>
<button class="btn btn-primary m-1" onclick="upload()">打开</button>

<!--左半边代码编写，右半边iframe沙盒(bootstrap)式布局-->
<div class="row">
    <div class="col-md-6">
        <div id="element-tree">

        </div>
    </div>
    <div class="col-md-6">
        <iframe src="sandbox.html" id="frame" style="width:100%;height:90vh"></iframe>
    </div>
</div>
<script>
    var elementTree_area = document.getElementById('element-tree');
    class VirtualElement {
        constructor(type) {
            this.real = document.createElement(type);
            this.children = []
            this.parent = null;
        }
        add_child(child) {
            child.parent = this;
            this.children.push(child);
            this.real.appendChild(child.real);
        }
        remove_child(child) {
            child.parent = null;
            this.children.splice(this.children.indexOf(child), 1);
            this.real.removeChild(child.real);
        }
        remove_self() {
            this.parent.remove_child(this);
        }
        to_html() {
            return this.real.innerHTML;
        
        }
    }
    function pushto_elementtree(current, parent = elementTree_area) {
        var details = document.createElement('details');
        details.style.paddingLeft = '1em';
        var summary = document.createElement('summary');
        summary.innerText = current.real.tagName;
        details.appendChild(summary);
        parent.appendChild(details);
        if (current.children.length > 0)
            for (var child of current.children) {
                pushto_elementtree(child, details);
            }
        else {
            var node = document.createElement('span');
            node.innerText = '没有子节点';
            node.style.marginLeft = '1em';
            details.appendChild(node);
        }
    }
    var html = new VirtualElement('html');
    var head = new VirtualElement('head');
    html.add_child(head);
    var body = new VirtualElement('body');
    html.add_child(body);
    pushto_elementtree(html);
</script>

{%endblock%}