{%extends "components/web/main.html"%} {%block title%} 资源索引 {%endblock%} {%block title_in%} 洽隐山房 | 资源 {%endblock%} {%block body%}
<h1 id="title"></h1>
<hr>
<a id="parent">上级目录</a>
<div class="spinner-border" id="loading-mask"></div>
<div id="folders" class="list-group">
</div>
<div id="files" class="list-group">

</div>
<script>
    attach_imview("#list");
    var dirdata = {};
    $.get("index.json").then(function(data) {
        dirdata = data
        $("#loading-mask").remove()
        window.onhashchange = function() {
            var path = decodeURIComponent(atob(getarg("path") || "Lw=="));
            if(path != "/") {
                $("#parent").show();
                $("#parent").attr("href", "#path="+btoa(encodeURIComponent(path.substring(0, path.lastIndexOf("/",path.lastIndexOf("/")-1))+"/")));
            } else {
                $("#parent").hide();
            }
            $("#title").text(path+" 的索引");
            $("#folders").empty();
            $("#files").empty();
            var list = dirdata;
            if(path != "/")
            for (var parts of path.substr(1,path.length-2).split("/")) {
                list = list[parts];
            }
            if(list) {
                for(var i in list) {
                    let name = i;
                    let item = list[i];
                    if(typeof item == "object") {
                        $("#folders").append("<div class=list-group-item ><a href='#path="+btoa(encodeURIComponent(path+i+"/"))+"' class='link'>"+i+"</a></div>");
                    } else {
                        var ext = name.substr(name.lastIndexOf('.')+1);
                        if("png jpg gif jpeg".split(" ").includes(ext.toLocaleLowerCase())){
                            $("#files").append($("<a class='list-group-item'>"+i+"</a>").click(
                                function(){
                                    show_im(item);
                                }
                            ));
                        }else{
                            $("#files").append($("<a class='list-group-item'>"+i+"</a>").click(
                                function(){
                                    yn = confirm("下载"+name+"?")
                                    if(!yn) return;
                                    $("<a></a>").attr("href",item).attr("download",name)[0].click();
                                }
                            ));
                        }
                        
                    }
                }
            }
        }
        window.onhashchange();
    })
    
</script>
{%endblock%}
