body {
	margin: 45px 0 0 0;
	width: 100%;
}

/* <a>按钮 */
a {
	display: inline-block;
	padding: 8px 20px;
	background-color: #2b313f;
	color: white;
	text-decoration: none;
	font: bold 16px;
	border-radius: 30px;
	height: 23px;
	margin: 1px;
}
a:hover {
	background-color: #202830;
	cursor: hand;
}
a:active {
	position: relative;
	top: 1px;
}
.anone {
	background-color: transparent;
	color: blue;
	text-decoration: underline;
	padding: 0px;
	border: none;
	height: 16px;
	margin: 0px;
}
.anone:hover {
	background-color: transparent;
	cursor: hand;
}

h1 {
	color: red;
	font-family: 'STXinwei';
	font-size: 30px;
	display: inline-block;
	height: 30px;
	margin: auto 0;
	font-weight: normal;
}
h2 {
	/*浅灰色背景二级标题*/
	font-size: 30px;
	font-family: 'SimHei';
	display: flex;
	padding: 0 0 0 20%;
	noshade: 'noshade';
	height: 35px;
	margin: 25px auto 5px auto;
}

/*横条guideLine+...*/
#guideLineDiv {
	background-color: #f5f5f5;
	position: fixed;
	top: 0;
	left: 0;
	height: 45px;
	width: 100%;
}
#guideLineDiv > a {
	background-color: transparent;
	color: black;
	padding: 0 5px;
}
#noticeboardDiv {
	/*公告*/
	background-color: white;
	overflow: scroll;
	display: none;
	position: fixed;
	width: 80%;
	left: 10%;
	height: 80%;
	top: 10%;
}
#closeNoticeboardBtn {
	position: absolute;
	top: 0;
	right: 0;
}

#MenuABtn {
	/*菜单*/
	position: absolute;
	top: 7px;
	right: 0;
}
#MenuAArea {
	/*sidebar*/
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 38%;
	height: 100%;
	background-color: white;
	overflow: auto;
}
#MenuAArea div {
	/*sidebar text*/
	color: black;
	text-align: center;
}
#MenuAArea div b {
	font-size: 20px;
}
#MenuAShadow {
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: gray;
	width: 62%;
	height: 100%;
	opacity: 0;
}
/*搜索框*/
#SearchArea {
	text-align: center;
	display: inline;
	max-height: 40px;
}
#SearchText {
	width: 10%;
	height: 30px;
}
#SearchArea > a {
	padding: 8px 16px 7px;
	border-radius: 0;
	height: 21px;
	position: relative;
	right: 5px;
	top: 3px;
}
