h1 {
	/* 红色华文新魏一级标题 */
	color: red;
	font-family: 'STXinwei';
	font-size: 60px;
	display: flex;
	justify-content: center;
	noshade: 'noshade';
	height: 30px;
	font-weight: normal;
}
h1:hover {
	text-decoration: blink;
}
