h1,.red-header { /* 红色华文新魏一级标题 */
    color:red;
    font-family:"STXinwei";
    display:flex;
    justify-content:center;
    height:30px;
    font-size:30px;
    margin-bottom:15px;
    padding: 0 !important;
}