@media screen and (max-width: 768px) {
    .hide_on_mobile {
        display: none;
        visibility: collapse;
        height: 0px;
    }
}

.hidden {
    display: none;
    visibility: collapse;
    height: 0px;
    width: 0px;
    overflow: hidden;
}