@media screen and (max-width: 800px) {
    .hide_on_mobile {
        display: none;
        visibility: collapse;
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
    .hide_on_small {
        display: none;
        visibility: collapse;
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
}
@media screen and (min-width: 1000px) {
    .hide_on_large {
        display: none;
        visibility: collapse;
        height: 0px;
        width: 0px;
        overflow: hidden;
    }
}

.navbar-nav>.nav-item{
    display: inline-block !important
}

/*缁備焦顒涢幑銏ｎ攽*/
.navbar-nav>*{
    word-break: keep-all;
}

@keyframes fadeIn {
    from {
        transform: translateY(100px);
        opacity: 0;
        overflow: hidden;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
        overflow: hidden;
    }
}
.fadeIn {
    animation: fadeIn 0.3s ease-out;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fadeOut {
    opacity: 0;
    animation: fadeOut 0.3s ease-in;
}

.hidden {
    display: none;
    visibility: collapse;
    height: 0px;
    width: 0px;
    opacity: 0;
    overflow: hidden;
    
}