{%extends "parts/main.html"%} {%block title%} 屏山听瀑 | 新闻 {%endblock%} {%block title_in%} 屏山听瀑 | 新闻 {%endblock%} {%block body%} 
<style>
    .list-group-item,
    .list-group-item {
        background: transparent;
    }
</style>
<br>
<a href="index.html" class="btn">回到首页</a>
<hr>
<div class="row">
    <div class="col-8" id="content" style="backdrop-filter: blur(10px);">

    </div>
    <div class="col-4" id="ads">
        <h4>人人关注</h4>
        <ul class="list-group list-group-flush" id="recommend"></ul>
        <div id="same_author">
            <h4>同作者的其他文章</h4>
            <ul class="list-group list-group-flush" id="same_author_list"></ul>
        </div>
    </div>
</div>
<br>
<br>
<script>
	$("#content").html('<div class="spinner-border"></div>');

    var resource = window.location.hash.substring(1);
    if (resource !== "") {
        $.get("content/"+resource).then(function (data) {
            data = data.replace(/(.+).files/g, "newspaper/$1.files");
            $("#content").html(data);
        })
    }else{
        $("#content").html("没有找到资源，请检查URL");
    }
	$("#recommend").html('<div class="spinner-border"></div>');
    if(resource.startsWith("!")){
        $("#same_author").show();
        $.get("text/index.json").then(function (data) {
            $("#same_author_list").html("");
            for (var key in data) {
                var url = data[key];
                var author_start = "<small>作者：";
                var author_end = "</small>";
                var author = url.substring(url.indexOf(author_start)+author_start.length, url.indexOf(author_end));
                var title = url.substring(url.indexOf(author_start));
                if(author == $("#content>p").first().text()){
                    $("#same_author_list").append('<li class="list-group-item"><a href="'+url+'">'+key+'</a></li>');
                }
            }
        })
    }else{
        $("#same_author").hide();
    }

    $.get("popular.json").then(function (data) {
        $("#recommend").html("");
        // key: title, value: url
        for (var key in data) {
            var url = data[key]
            if(url.startsWith("@")){
                url = "pdf_embed.html#" + url.substring(1)
            }else{
                url = "embed.html?" + url
            }
            $("#recommend").append("<li class='list-group-item'><a href='" + url + "'>" + key + "</a></li>");
        }
    })
</script>
{%endblock%}
