{%extends "parts/main.html"%} {%block title%} 屏山听瀑 | 周报 {%endblock%} {%block title_in%} 屏山听瀑 | 周报 {%endblock%} {%block
body%}
<h1>周报</h1>
<div class="row">
    <div class="col-md-2">
        <h3>热点新闻</h3>
        <ul class="list-group" id="news-list">
            <a class="list-group-item" id="news-wechat" href="#embed=wechat">微信公众号</a>
            <a class="list-group-item" id="news-1" href="#embed=1">2025.7.27我学生胜利完成本周暑假作业</a>
        </ul>
    </div>
    <div class="col-md-10">
        <ul class="nav nav-tabs" id="news-tab">
            <li class="nav-item nav-link disabled">周报出版</li>
            {% for i in (1,2,3,4,5,5.5,6,7,8,9)%}
            <li class="nav-item">
                <a class="nav-link" href="#p={{i}}" id="p{{i}}">第{{i}}期</a>
            </li>
            {% endfor %}
        </ul>

        <iframe style="width: 100%; height: 70vh" id="iframe"></iframe>
        <div id="frame" class="hidden" style="width:100%; height: 70vh"></div>
    </div>
</div>
<br /><br />
<script>
    (window.onhashchange = function () {
        var p = getarg('p');
        var embed = getarg('embed');
        if (p == null && embed == null) {
            p = 1;
        }
        for(var i=1;i<=100;i++){
            $('#p'+i).removeClass('active');
            $("#news-"+i).removeClass('active');
        }
        $('#p5\\.5').removeClass('active');
        $("#news-wechat").removeClass('active');
        if (embed != null) {
            $('#iframe').addClass('hidden');
            $("#iframe").attr("src", "about:blank"); // Release iframe
            $('#frame').removeClass('hidden');
            $("#news-"+embed).addClass('active');
            $("#frame").html('<div class="spinner-border"></div>')
            $.get(embed + ".html").then((data) => {
                $('#frame').html(data);
            })
        }
        if (p != null) {
            
            $('#frame').addClass('hidden');
            $('#iframe').removeClass('hidden');
            $('#p' + p).addClass('active');
            $('#iframe').attr('src', root + '/../components/pdf/web/viewer.html?file=../../../res/pdf/zhoubao' + p + '.pdf');
        }
    })()
</script>
{%endblock%}