{%extends "parts/main.html"%} {%block title%} 屏山听瀑 | 新闻 {%endblock%} {%block title_in%} 屏山听瀑 | 新闻 {%endblock%} {%block body%}
<style>
	.news-bg {
		background-size: cover;
		background-position: center;
		height: 700px;
		backdrop-filter: blur(20px);
	}
	.news-txt-box {
		background: linear-gradient(transparent 70%, black);
		color: white;
		height: 100%;
	}
	.news-txt {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0px;
		padding: 10px;
	}
	.list-group,
	.list-group-item {
		background: transparent !important;
	}
</style>
<br>
<div id="carousel" class="carousel slide w-100">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<a	class="news-bg d-block w-100"
				style="background-image: url({{root}}/res/img/news/birdinclass.png);"
				href="pdf_embed.html#p=11">
				<div class="news-txt-box">
					<div class="news-txt">
						<h1>震惊！我教室飞鸟</h1>
						<p>《周恩来周报 第十一期》</p>
					</div>
				</div>
			</a>
		</div>
		<div class="carousel-item">
			<a	class="news-bg d-block w-100"
				style="background-image: url({{root}}/res/img/news/9clock_withsun.png);"
				>
				<div class="news-txt-box">
					<div class="news-txt">
						<h1>“九点钟出太阳”</h1>
						<p>——俞梓涵 | 名人名言</p>
					</div>
				</div>
			</a>
		</div>
		<div class="carousel-item">
			<a	class="news-bg d-block w-100"
				style="background-image: url({{root}}/res/img/news/homeworkfinish.png);"
				href="embed.html?1.html">
				<div class="news-txt-box">
					<div class="news-txt">
						<h1>我的一小步，暑假的一大步 <small>——我学生胜利完成本周暑假作业</small></h1>
						<p>近期热点</p>
					</div>
				</div>
			</a>
		</div>
		<div class="carousel-item">
			<a	class="news-bg d-block w-100"
				style="background-image: url({{root}}/res/img/news/微信图片_20251001100626_83_43.jpg);"
				>
				<div class="news-txt-box">
					<div class="news-txt">
						<h1>“老母鸡变鸭了啊”</h1>
						<p>——顾晓雯 | 名人名言</p>
					</div>
				</div>
			</a>
		</div>
		<div class="carousel-item">
			<a	class="news-bg d-block w-100"
				style="background-image: url({{root}}/res/img/wechat.png);"
				href="embed.html?000wechat.html">
				<div class="news-txt-box">
					<div class="news-txt">
						<h1>“一班报”</h1>
						<p>微信公众号</p>
					</div>
				</div>
			</a>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
<h1>洽隐山房 新闻站</h1>
<a href="old_index.html">旧版新闻站</a>
<div style="clear: both; height: 25px"></div>
<div style="float: left">
	<h3>热点新闻</h3>
	<ul class="list-group list-group-flush" id="recommend">

	</ul>
	<h3>全部文章</h3>
	<ul class="list-group list-group-flush" id="articles">

	</ul>
</div>
<div style="float: right" class="w-25">
	<h3>周报出版</h3>
	<ul class="list-group list-group-flush">
		{% for id in list_newspaper()%}
		<li class="list-group-item">
			<a href="pdf_embed.html#p={{id}}">周恩来周报 第{{id}}期</a>
		</li>
		{% endfor %}

</div>
<div style="clear: both"></div>
<script>
	$("#recommend").html('<div class="spinner-border"></div>');
	$.get("popular.json").then(function (data) {
        $("#recommend").html("");
        // key: title, value: url
        for (var key in data) {
            var url = data[key]
            if(url.startsWith("!")){
                url = "pdf_embed.html#" + url.substring(1)
            }else{
                url = "embed.html?" + url
            }
            $("#recommend").append("<li class='list-group-item'><a href='" + url + "'>" + key + "</a></li>");
        }
    })
	$("#articles").html('<div class="spinner-border"></div>');
	$.get("articles.json").then(function (data) {
        $("#articles").html("");
        // key: title, value: url
        for (var key in data) {
            var url = data[key]
            if(url.startsWith("!")){
                url = "pdf_embed.html#" + url.substring(1)
            }else{
                url = "embed.html?" + url
            }
            $("#articles").append("<li class='list-group-item'><a href='" + url + "'>" + key + "</a></li>");
        }
    })
</script>
{%endblock%}
