{%extends "parts/main.html"%} {%block title%} 屏山听瀑 | 新闻 {%endblock%} {%block title_in%} 屏山听瀑 | 新闻 {%endblock%} {%block body%}
<style>
	.list-group-item,
	.list-group-item {
		background: transparent;
	}
</style>

<br />
<a class="btn" href="index.html">回到首页</a>
<button class="btn" id="changeview">切换到PDF视图</button>
<hr />
<div class="row">
	<div class="col-8" id="content">
		<iframe class="hidden" id="realpdf" style="width: 100%; height: 100vh"></iframe>
		<div id="pdf" style="background-color: rgba(255, 255, 255, 0.5); backdrop-filter: blur(10px); overflow: auto"></div>
	</div>
	<div class="col-4" id="ads">
		<h4>人人关注</h4>
		<ul class="list-group list-group-flush" id="recommend"></ul>
	</div>
</div>
<br />
<br />
<script>
	var pdf_html_ver = getarg('html');
	var pdf_orig = getarg('pdf');
	var p = getarg('p');
	if (p) {
		pdf_html_ver = 'newspaper/zhoubao' + p + '.html';
		pdf_orig = '{{root}}/../components/pdf/web/viewer.html?file=../../../docs/res/pdf/zhoubao' + p + '.pdf';
	}
	$('#realpdf').attr('src', pdf_orig);
	$('#pdf').html('<div class="spinner-border"></div>');
	$.get(pdf_html_ver, function (data) {
		data = data.replace(/"(\S+).files/g, '"newspaper/$1.files'); // regex太好用了
		$('#pdf').html(data);
	});
	var currentshow = 'html';
	$('#changeview').click(function () {
		if (currentshow == 'html') {
			$('#realpdf').removeClass('hidden');
			$('#pdf').addClass('hidden');
			currentshow = 'pdf';
			$(this).html('切换到HTML视图');
		} else {
			$('#realpdf').addClass('hidden');
			$('#pdf').removeClass('hidden');
			currentshow = 'html';
			$(this).html('切换到PDF视图');
		}
	});
	$('#recommend').html('<div class="spinner-border"></div>');
	$.get('popular.json').then(function (data) {
		$('#recommend').html('');
		// key: title, value: url
		for (var key in data) {
			var url = data[key];
			if (url.startsWith('!')) {
				url = 'pdf_embed.html#' + url.substring(1);
			} else {
				url = 'embed.html#' + url;
			}
			$('#recommend').append("<li class='list-group-item'><a href='" + url + "'>" + key + '</a></li>');
		}
	});
</script>
{%endblock%}
