{%extends "parts/main.html"%} {%block title%} 首页 {%endblock%} {%block outbody%}

<div class="modal fade" id="wechatModal" tabindex="-1">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">公众号</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>
			<div class="modal-body">{%include "news/content/000wechat.html"%}</div>
		</div>
	</div>
</div>
<div class="modal fade" id="fileuri_warn" tabindex="-1">
	<div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-body">
				<h3>警告：你正在使用本地文件直接打开功能</h3>
				<p>在file://协议下，以下功能不可用</p>
				<ul>
					<li>PDF预览</li>
					<li>文学创作内容查看</li>
				</ul>
				<hr />
				<h4>解决方案</h4>
				<p>如果您是访客，请访问<a href="https://apkqiu.oc.com.ar/availability/docs/home.html">已经部署的网站</a></p>
				<p>如果您要开发，请使用Python运行"basic_server.py"，然后打开<a href="http://127.0.0.1:5000/home.html">临时服务器</a></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">仍然访问</button>
			</div>
		</div>
	</div>
</div>
{%endblock%} {%block body%}
<div>
	<div>
		<div style="position: absolute; left: 50%; top: 40%; transform: translate(-50%, -50%); justify-content: center">
			<center>
				<h1 style="font-size: 15vmin">惠出众</h1>
				<p style="font-size: 5vmin">洽隐山房</p>
				<br />
				<button
					onclick="window.location.href='{{root}}/news/index.html'"
					class="btn btn-primary btn-lg m-2 hide_on_small"
					style="width: 10em; height: 3em"
				>
					<i class="bi bi-newspaper"></i>
					周报出版
				</button>
				<button
					type="button"
					data-bs-toggle="modal"
					data-bs-target="#wechatModal"
					style="width: 10em; height: 3em"
					class="btn btn-outline-primary btn-lg m-2 hide_on_small"
					href="javascript:void(0)"
				>
					<i class="bi bi-wechat"></i>
					关注微信
				</button>
			</center>
		</div>
		<div
			style="
				position: absolute;
				left: 50%;
				top: 80%;
				transform: translate(-50%, -50%);
				justify-content: center;
				width: 100%;
				height: 30%;
				overflow: hidden;
			"
			class="hide_on_mobile"
		>
			<center>
				<style>
					.shadow-on-hover{
						box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
						transition: 0.3s ease-in-out;
					}
					.shadow-on-hover:hover{
						background: rgba(0, 0, 0, 0.5);
						box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
					}
				</style>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/soil_grass/index.html">藤崖伫月<br />草皮土壤</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/text/index.html">石窦收云<br />文学创作</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/web_maker/index.html">棕亭霁雪<br />自制网页</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/account/index.html">柳荫眠琴<br />账号管理</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/news/index.html">屏山听瀑<br />新闻</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/school/index.html">柳荫系舫<br />一草种</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/resource/index.html">林屋探奇<br />资料</a>
				<a class="btn btn-lg m-1 shadow-on-hover" href="{{root}}/game/index.html">荷岸观鱼<br />小游戏</a>
				<br />
				<br />
				<a class="btn release-only shadow-on-hover" href="{{root}}/../old/zhuye.html">前往旧版</a>
				<button type="button" class="btn shadow-on-hover" data-bs-toggle="modal" data-bs-target="#exampleModal">公告</button>
				<a class="btn shadow-on-hover" href="{{root}}/contact.html">联系我们</a>
				<span width="20px"></span>
				<a class="btn shadow-on-hover" href="https://github.com/apkqiu/availability/releases/latest" id="desktop-client-download-sm"> 下载电脑客户端 </a>
				<script>
					$('#release').click(function () {
						window.location.href = root + '/home.html';
					});
				</script>
			</center>
		</div>
		<div style="height: 60vh"></div>
		<div class="hide_on_large hide_on_small">
			<center>
				<a class="btn btn-lg m-1" href="{{root}}/soil_grass/index.html">藤崖伫月 草皮土壤</a>
				<a class="btn btn-lg m-1" href="{{root}}/text/index.html">石窦收云 文学创作</a><br />
				<a class="btn btn-lg m-1" href="{{root}}/web_maker/index.html">棕亭霁雪 自制网页</a>
				<a class="btn btn-lg m-1" href="{{root}}/account/index.html">柳荫眠琴 账号管理</a><br />
				<a class="btn btn-lg m-1" href="{{root}}/news/index.html">屏山听瀑 新闻</a>
				<a class="btn btn-lg m-1" href="{{root}}/school/index.html">柳荫系舫 一草种</a><br />
				<a class="btn btn-lg m-1" href="{{root}}/resource/index.html">林屋探奇 资料</a>
				<a class="btn btn-lg m-1" href="{{root}}/game/index.html">荷岸观鱼 小游戏</a><br />
				<br />
				<br />
				<br />
				<a class="btn release-only" href="{{root}}/../old/zhuye.html" no-intercept="true">前往旧版</a>
				<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">公告</button>
				<a class="btn" href="{{root}}/contact.html">联系我们</a>
				<a class="btn" href="javascript:alert('请进群下载安装包，iOS暂未开放下载。')" id="desktop-client-download-sm"> 下载手机客户端 </a>
				<script>
					if (is_electron()) {
						$('#desktop-client-download-sm').addClass('hidden');
						$('#desktop-client-download').addClass('hidden');
					}
					$('#release').click(function () {
						window.location.href = root + '/home.html';
					});
				</script>
			</center>
		</div>
		
	</div>
</div>
<script>
	if (is_using_fileuri() && !is_electron()) {
		alert('请使用http或https协议访问本站');
		window.close();
	}
</script>
{%endblock%}
