{%extends "parts/spa_main.html"%}
{%block title%} {%endblock%}
{%block title_in%} <span id="title_in"></span> {%endblock%}
{%block outbody%} <div id="app_out"></div> {%endblock%}
{%block body%}
<div id="errors"></div>
<script>
    function load() {
        var url = getarg("url") || "/home.html";
        $("#nav_left").show(100);
        $("#nav_controls").show(100);
        $("#offcanvasExample").offcanvas('hide');
        $(".hidden").removeClass("hidden");
        $('#nav').css('backdropFilter', 'blur(10px)');
        document.title = "加载中...";
        $("#app").html('<div class="spinner-border"></div>').show();
        $("#title_in").hide(100);
        $("#app_out").hide(100);
        $("#errors").html("");
        $.get("../templates" + url,).then(function (data) {
            data = data.replaceAll("\{\{root\}\}", "#url=");
            data = data.replaceAll("\{\{true_root\}\}", "{{root}}");

            console.log(data);

            var title_start = data.indexOf("\{\%block title\%\}");
            var title_end = data.indexOf("\{\%endblock\%\}", title_start + 1);
            var title = data.substring(title_start + 15, title_end);
            if (title_start != -1) document.title = title;
            else document.title = "洽隐山房";

            var title_in_start = data.indexOf("\{\%block title_in\%\}");
            var title_in_end = data.indexOf("\{\%endblock\%\}", title_in_start + 1);
            var title_in = data.substring(title_in_start + 18, title_in_end);
            if (title_in_start != -1) $("#title_in").html(title_in);
            else $("#title_in").html("");

            var outbody_start = data.indexOf("\{\%block outbody\%\}");
            var outbody_end = data.indexOf("\{\%endblock\%\}", outbody_start + 1);
            var outbody = data.substring(outbody_start + 17, outbody_end);
            if (outbody_start != -1) $("#app_out").html(outbody);

            var body_start = data.indexOf("\{\%block body\%\}");
            var body_end = data.indexOf("\{\%endblock\%\}", body_start + 1);
            var body = data.substring(body_start + 14, body_end);
            if (body_start != -1) $("#app").hide().html(body).show(100);
            else $("#app").html("<div class='alert alert-danger'>加载失败: 模板不正确，没有找到 body 块</div>");

            $(".release-only").addClass("hidden");
            $(".beta-only").removeClass("hidden");

            $("#title_in").show(100);
            $("#app_out").show(100);
        }).fail(function (xhr, status, error) {
            $("#app").html("<div class='alert alert-danger'>加载失败: " + error + "</div>");
        })
        window.onhashchange = load;
    }
    window.onerror = function (msg, url, line, col, error) {
        $("#errors").append("<div class='alert alert-danger'>" + msg + " at " + url + ":" + line + ":" + col + "</div>");

    }
    $(document).ready(load)
    function should_load(url) {
        return getarg("url") != url;
    }
</script>
<div id="app"></div>
{%endblock%}