<!DOCTYPE html>
<html lang="zh-hans" style="min-height: 100vh" id="html-root">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>正在加载...</title>
		<script>
			// polyfill
			if (typeof globalThis == 'undefined') {
				window.globalThis = window;
			}
			if (typeof root == 'undefined') {
				window.root = '{{root}}';
				window.true_root = '{{root}}';
			}
		</script>
		<script
			src="https://giscus.app/client.js"
			data-repo="apkqiu/apkqiu.github.io"
			data-repo-id="R_kgDOOQrolQ"
			data-category="General"
			data-category-id="DIC_kwDOOQrolc4Colvm"
			data-mapping="url"
			data-strict="1"
			data-reactions-enabled="1"
			data-emit-metadata="1"
			data-input-position="top"
			data-theme="dark"
			data-lang="zh-CN"
			crossorigin="anonymous"
			async
			data-pjax
		></script>
		{% for i in listdir("res/js")%}
		{% if i[0].startswith("0dep_")%}
		<script src="{{root}}/res/js/{{i[0]}}.js"></script>
		{% elif i[0].startswith("1lazy_")%}
		<script src="{{root}}/res/js/{{i[0]}}.js" async></script>
		{% else %} 
		<script src="{{root}}/res/js/{{i[0]}}.js" defer></script>
		{% endif %} 
		{% endfor %} {% for i in listdir("res/css")%}
		<script>
			(()=>{
				const link = document.createElement('link');
				link.href = '{{root}}/res/css/{{i[0]}}.css';
				link.rel = 'stylesheet';

				document.head.appendChild(link);
			})();
		</script>
		{% endfor %}
	</head>
	<header>
		<noscript>
			<div style="background-color: #ffff00; border: 1px solid #ffaa00; border-radius: 5px; padding: 0 10px">
				<p><b style="color: #ffaa00">重要警告</b></p>
				<p>您的浏览器不支持JavaScript，请开启JavaScript功能才可以浏览。</p>
				<p>如果您的浏览器不支持JavaScript，请使用其他浏览器访问。</p>
			</div>
		</noscript>
		<script>
			// check IE
			var is_IE = !!window.ActiveXObject || "ActiveXObject" in window;
			if (is_IE) {
				document.write("<div style=\"background-color: #ffff00; border: 1px solid #ffaa00; border-radius: 5px; padding: 0 10px\">");
				document.write("<p><b style=\"color: #ffaa00\">重要警告</b></p>");
				document.write("<p>您的浏览器版本过低，请使用最新版本的浏览器访问。</p>");
				document.write("<p>如果您的浏览器版本过低，请使用其他浏览器访问。</p>");
				document.write("</div>");
			}

		</script>
	</header>
	<body style="scroll-margin-top: 70px;">
		<div id="view-mount-node"></div>
		<div id="script-mount-node"></div>

		<nav class="navbar navbar-expand-sm" id="nav" style="position: fixed;top:0;left:0; width: 100%; z-index: 1001; backdrop-filter: blur(10px)">
			<div class="container-fluid">
				<span id="PART_title_in">{%block title_in%}{%endblock%}</span>
				<ul class="navbar-nav me-auto hide_on_mobile" id="nav_left">
					<li class="nav-item">
						<a class="nav-link need-update-root" href="{{root}}/home.html">首页</a>
					</li>
					<li class="nav-item">
						<a class="nav-link need-update-root" href="{{root}}/news/index.html">新闻</a>
					</li>
					<li class="nav-item">
						<a class="nav-link need-update-root" href="{{root}}/text/index.html">文学创作</a>
					</li>
					<li class="nav-item">
						<a class="nav-link need-update-root" href="{{root}}/web_maker/index.html">自制网页</a>
					</li>
					<li class="nav-item">
						<a class="nav-link need-update-root" href="{{root}}/account/index.html">设置</a>
					</li>
					<li class="nav-item">
						<a class="nav-link need-update-root" href="{{root}}/game/index.html">小游戏</a>
					</li>
				</ul>
				<div class="d-flex">
					<a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button">
						<span class="navbar-toggler-icon"></span>
					</a>
				</div>
			</div>
		</nav>

		<!-- Offcanvas -->
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">搜索</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
			</div>
			<div class="offcanvas-body">
				<h3>导航</h3>
				<div class="list-group">
					<a class="list-group-item need-update-root" href="{{root}}/home.html">首页</a>
					<a class="list-group-item need-update-root" href="{{root}}/text/index.html">文学创作</a>
					<a class="list-group-item need-update-root" href="{{root}}/web_maker/index.html">自制网页</a>
					<a class="list-group-item need-update-root" href="{{root}}/account/index.html">设置</a>
					<a class="list-group-item need-update-root" href="{{root}}/news/index.html">新闻</a>
					<a class="list-group-item need-update-root" href="{{root}}/game/index.html">小游戏</a>
				</div>
				<br />
				<h3>搜索</h3>
				<ul class="list-group">
					<li class="input-group clearfix">
						<input type="text" class="form-control" placeholder="搜索" id="searchInput" oninput="search()" />
						<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="search()">搜索</button>
					</li>
					<div id="searchResult"></div>
				</ul>
			</div>
		</div>
	</header>

	<body style="min-height: 100vh">
		<div
			style="
				position: fixed;
				left: 50vw;
				top: 50vh;
				right: 50vw;
				bottom: 50vh;
				transform: translate(-50%, -50%);
				width: 120vw;
				height: 120vh;
				overflow: hidden;
				z-index: -10;
			"
		>
			<ul id="scene" style="height: 100%; width: 100%">
				<li class="layer" data-depth="0.4" style="height: 100%; width: 100%">
					<img id="bg" style="height: 100%; width: 100%; object-fit: cover" />
				</li>
			</ul>
		</div>
		<div id="PART_outbody">
			<!-- block outbody -->
			{%block outbody%} {%endblock%}
			<!-- endblock -->
		</div>
		<div id="mask" style="min-height: 100vh">
			<div style="min-height: 100vh; padding: 60px 0 0 0; overflow-x: hidden" id="mainbody">
				<div id="loading-mask" style="position: fixed; left: 50vw; top: 50vh; transform: translate(-50%, -50%); z-index: 1000; display: none">
					<!--div class="spinner-border" style="width: 50px; height: 50px"></div-->
				</div>
				<div style="min-height: calc(100vh - 58px); margin: 10px">
					<div id="PART_body" style="padding-top: 70px;margin-top: -70px;">
						<!-- block body -->
						{%block body%}{%endblock%}
						<!-- endblock -->
					</div>
				</div>

				<div class="text-sm text-muted" id="footer" style="backdrop-filter: blur(10px)">
					<small>
						如果你要提供意见，请 <a class="need-update-root" href="{{root}}/contact.html">联系我们</a>
						<i> <br />电话：13270463238 <br />邮箱:Caixukun11451489@outlook.com </i>
						<b> <br />版权所有 ©<span id="yr">2025</span> 洽隐山房，保留所有权利</b>
					</small>
				</div>
			</div>
		</div>
	</body>
</html>
